Source: gz-launch8
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               debhelper (>= 13),
               doxygen,
               libgz-cmake4-dev,
               libgz-common6-dev,
               libgz-sim9-dev,
               libgz-gui9-dev,
               libgz-msgs11-dev,
               libgz-plugin3-dev,
               libgz-tools2-dev,
               libgz-transport14-dev,
               libsdformat15-dev,
               libtinyxml2-dev,
               libwebsockets-dev,
               qtquickcontrols2-5-dev,
               libqt5core5a,
               binutils-dev
Vcs-Browser: https://github.com/gazebosim/gz-launch
Vcs-Git: https://github.com/gazebo-release/gz-launch8-release
Standards-Version: 4.5.1
Homepage: https://github.com/gazebosim/gz-launch

Package: libgz-launch8
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: gz-launch8-cli
Multi-Arch: same
Description: Gazebo Launch Library - Launch libraries
 Gazebo Launch, a component of Gazebo, provides a command line
 interface to run and manager application and plugins.
 .
 Package contains the Gazebo launch libraries

Package: gz-launch8-cli
Architecture: any
Depends: libgz-launch8 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Multi-Arch: no
Description: Gazebo Launch Library - CLI
 Gazebo Launch, a component of Gazebo, provides a command line
 interface to run and manager application and plugins.
 .
 Package contains the CLI

Package: libgz-launch8-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake4-dev,
         libgz-common6-dev,
         libgz-sim9-dev,
         libgz-gui9-dev,
         libgz-msgs11-dev,
         libgz-plugin3-dev,
         libgz-tools2-dev,
         libgz-transport14-dev,
         libsdformat15-dev,
         libtinyxml2-dev ,
         libwebsockets-dev,
         qtquickcontrols2-5-dev,
         libqt5core5a,
         libgz-launch8 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Launch Library - Development files
 Gazebo Launch, a component of Gazebo, provides a command line
 interface to run and manager application and plugins.
 .
 Package contains the Gazebo launch development files and cli client
